* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Roboto";
  font-weight: 200;
  src: url("../public/assets/fonts/robotoserif/RobotoSerif20pt-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url("../public/assets/fonts/robotoserif/RobotoSerif20pt-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("../public/assets/fonts/robotoserif/RobotoSerif20pt-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";  
  font-weight: 500;
  src: url("../public/assets/fonts/robotoserif/RobotoSerif20pt-Medium.woff2") format("woff2");
}

::-webkit-scrollbar {
  height: 12px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
  border-radius: 92px;
}

::-webkit-scrollbar-thumb {
  background: rgb(143, 255, 143);
}

::-webkit-scrollbar-track {
  background: rgb(213, 213, 213);
}